body{
   
    width: 100%;
    height: auto;
}
h1
{
    text-align: center;
}

.container {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn{
    padding: 2px;
    margin: 3px;
    background: burlywood;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 24px;
    width: 50px;
}
#display{
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 0;
    padding: 10px;
    width: 205px;
}
