body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#efefed;
}

.body-cal {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #57a380;
    border-radius: 50px;
    max-width: 500px;
    overflow: hidden;

}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
     background-color: #2a2623;
     color: white;
}

#button{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: #79434c;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer; 

}

button:hover{
    background-color: #db556b;
}
button:active {
    background-color: #b3364b;
}

.operator-btn {
    background-color: #f7ddc4;
} 
.operator-btn:hover {
    background-color: #e5bc95;
}
.operator-btn:active {
    background-color: #e9ab71;
}